.fc-title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  line-height: 28px;
  padding-top: 68px;
}
.fc-title h3 {
  text-align: center;
  font-size:16px;
  line-height: 16px;
  margin-top: 5px;
  font-weight: 100;
}

.read-more-button {
  display: block;
  background:#ff9f9c;
  border-radius:100px;
  width:200px;
  height:50px;
  line-height: 50px;
  margin: 0 auto;
  font-size:20px;
  color:#ffffff;
  text-align:center;
}

.section-vedio {
  height: 100vh;
  background: #666;
}
.nav-4c {
  position: relative;
  z-index: 333;
}
.nav-4c .nav-list {
  width: 1000px;
}
.nav-4c .nav-list .nav-links {
  width: 1000px;
}
.nav-4c .nav-list .nav-links .nav-item {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
.section-intro {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  position: relative;
  z-index: 2;
  padding-top: 100px;
}
.section-intro .left{
  width: 630px;
}
.section-intro img {
  width: 100%;
  display: block;
}
.section-intro .right {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  background:#f9575c;
  color: #fff;
}
.section-intro .right .margin {
  width: 450px;
  margin: auto;
}
.section-intro .right h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  line-height: 28px;
  padding-top: 82px;
}
.section-intro .right h3 {
  text-align: center;
  font-size:16px;
  line-height: 16px;
  margin-top: 5px;
  font-weight: 100;
}
.section-intro .right p {
  padding-top: 33px;
  font-size: 14px;
  position: relative;
}
.section-intro .right p:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-image:linear-gradient(-180deg, rgba(249,87,92,0.18) 4%, #f9575c 98%);
}
.section-intro .right .link {
  text-align: right;
  margin-top: 40px;
}
.section-intro .right .link a {
  color: #fff;
  font-size: 14px;
}

.section-history {
  height: 700px;
  background:#2d313d;
  color: #fff;
}
.section-history p {
  padding-top: 33px;
  font-size: 14px;
  position: relative;
  width: 1000px;
  margin: auto;
}
.section-history p:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:linear-gradient(-180deg, rgba(45,49,61,0.00) 8%, #2d313d 96%);
  height:100px;
}
.section-history .link {
  text-align: right;
  width: 1000px;
  margin: 40px auto 0;
}
.section-history .link a {
  color: #fff;
  font-size: 14px;
}
.section-history .photo {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 43px auto 0;
}
.section-history .photo div {
  width: 320px;
}

.section-arrangement {
  padding-bottom: 78px;
}
.section-arrangement h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  line-height: 28px;
  padding-top: 68px;
}
.section-arrangement h3 {
  text-align: center;
  font-size:16px;
  line-height: 16px;
  margin-top: 5px;
  font-weight: 400;
}


.section-news {
  padding: 100px 0 80px;
  background: #f8f5f0;
}

.section-news>.title {
  width: 203px;
  height: 54px;
  margin: auto;
  background: url(../img/news.png) no-repeat center;
  background-size: cover;
}

.section-news .list {
  width: 1000px;
  margin: 50px auto 40px;
}

.section-news .list .top {
  position: relative;
  height:240px;
}

.section-news .list .top .img {
  width: 280px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 3;
}

.section-news .list .top .img img {
  width: 100%;
}

.section-news .list .top .main {
  background:#fff;
  width:728px;
  height:240px;
  box-sizing: border-box;
  padding: 0 106px 0 66px;
  position: absolute;
  right: 0;
  top: 0;
}

.section-news .list .top .main .date {
  background:#ff9f9c;
  width:80px;
  height:80px;
  box-sizing: border-box;
  padding-right: 10px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

.section-news .list .top .main .date p {
  font-family:STSongti-SC-Black;
  font-size:32px;
  line-height: 32px;
  margin-top: 15px;
  color:#ffffff;
}
.section-news .list .top .main .date div {
  font-family:STSongti-SC-Black;
  font-size:16px;
  line-height: 16px;
  color:#ffffff;
 }

.section-news .list .top .main .title {
  padding-top: 66px;
  padding-bottom: 11px;
  font-size:22px;
  color:#333333;
}
.section-news .list .top .main .desc {
  font-size:15px;
  color:#666666;
}

.section-news .list .items {
  overflow: hidden;
}
.section-news .list .item {
  width: 470px;
  float: left;
  margin-top: 24px;
  overflow: hidden;
}
.section-news .list .item:nth-child(2n) {
  margin-left: 60px;
}
.section-news .list .item:nth-child(2n) .date {
  background:#79b1ef;
}
.section-news .list .item .date {
  font-family:STSongti-SC-Black;
  background: #61d569;
  width:80px;
  height:80px;
  box-sizing: border-box;
  padding-left: 10px;
  text-align: left;
  float: left;
}
.section-news .list .item .date p {
  font-size:32px;
  line-height: 32px;
  margin-top: 15px;
  color:#ffffff;
}
.section-news .list .item .date div {
  font-size:16px;
  line-height: 16px;
  color:#ffffff;
 }

.section-news .list .item .main {
  background:#fff;
  width:390px;
  height:140px;
  float: right;
  padding-left: 30px;
  box-sizing: border-box;
  padding-top: 25px;
}
.section-news .list .item .main h3 {
  font-size:22px;
  color:#333333;
}
.section-news .list .item .main p {
  font-size:15px;
  line-height: 20px;
  color:#666666;
  padding-right: 86px;
  font-weight: 100;
}

.section-logo .list {
  padding: 57px 0 128px;
  overflow: hidden;
  width: 1002px;
  margin: auto;
}
.section-logo .list .item {
  float: left;
  background:#f4f4f4;
  width:190px;
  height:140px;
  margin-right: 13px;
  margin-bottom: 13px;
}
.section-logo .list .item img {
  width: 100%;
}
.section-logo .list .item:nth-child(5n) {
  margin-right: 0;
}
.fc-footer {
  background: #2d313d;
}
.arrangement-body {
  width: 1000px;
  overflow: hidden;
  margin: 55px auto 0;
}
.arrangement-map {
  width: 313px;
  float: left;
}
.arrangement-content {
  float: right;
  width: 500px;
}
.arrangement-content-list .item {
  font-size:18px;
  color:#111111;
  text-align: right;
}
.arrangement-content-list .item:before {
  content: '';
  display: inline-block;
  background:#f56469;
  width:10px;
  height:10px;
  border-radius:100%;
  margin-right: 10px;
}
.arrangement-content-list .item span {
  font-weight: 800;
  display: inline-block;
  margin-right: 10px;
}
.arrangement-link {
  text-align: right;
  margin-top: 15px;
}
.arrangement-link a {
  font-size:14px;
  color:#e4484c;
}
.unslider {
  position: relative;
}
.unslider-nav {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
