.read-more-button {
  display: block;
  background:#ff9f9c;
  border-radius:100px;
  width:200px;
  height:50px;
  line-height: 50px;
  margin: 0 auto;
  font-size:24px;
  color:#ffffff;
  text-align:center;
}

.slider {
  margin-top: 100px;
}
.banner-item {

}
.banner-item > img {
  width: 100%;
}

.section-4c {
  background: url(../img/4cback.png) no-repeat bottom;
  background-size: contain;
  overflow: hidden;
  padding-bottom: 152px;
}

.section-4c .text {
  padding-bottom: 82px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0.7) 90%, rgba(255, 255, 255, 0))
}

.section-4c .text .title {
  width: 90px;
  height: 68px;
  background: url(../img/4c.png) no-repeat center;
  background-size: cover;
  margin: 86px auto 22px;
}

.section-4c .text .sub-title {
  font-size:32px;
  color:#111111;
  text-align:center;
}

.section-4c .text .desc {
  font-size:16px;
  color:#111111;
  width: 571px;
  margin: 45px auto;
}


.section-news {
  padding: 100px 0 80px;
}

.section-news>.title {
  width: 203px;
  height: 54px;
  margin: auto;
  background: url(../img/news.png) no-repeat center;
  background-size: cover;
}

.section-news .list {
  width: 1000px;
  margin: 50px auto 40px;
}

.section-news .list .top {
  position: relative;
  height:240px;
}

.section-news .list .top .img {
  width: 280px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 3;
}

.section-news .list .top .img img {
  width: 100%;
}

.section-news .list .top .main {
  background:#f4f4f4;
  width:728px;
  height:240px;
  box-sizing: border-box;
  padding: 0 106px 0 66px;
  position: absolute;
  right: 0;
  top: 0;
}

.section-news .list .top .main .date {
  background:#ff9f9c;
  width:80px;
  height:80px;
  box-sizing: border-box;
  padding-right: 10px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

.section-news .list .top .main .date p {
  font-family:STSongti-SC-Black;
  font-size:32px;
  line-height: 32px;
  margin-top: 15px;
  color:#ffffff;
}
.section-news .list .top .main .date div {
  font-family:STSongti-SC-Black;
  font-size:16px;
  line-height: 16px;
  color:#ffffff;
 }

.section-news .list .top .main .title {
  padding-top: 66px;
  padding-bottom: 11px;
  font-size:22px;
  color:#333333;
}
.section-news .list .top .main .desc {
  font-size:15px;
  color:#666666;
}

.section-news .list .items {
  overflow: hidden;
}
.section-news .list .item {
  width: 470px;
  float: left;
  margin-top: 24px;
  overflow: hidden;
}
.section-news .list .item:nth-child(2n) {
  margin-left: 60px;
}
.section-news .list .item:nth-child(2n) .date {
  background:#79b1ef;
}
.section-news .list .item .date {
  font-family:STSongti-SC-Black;
  background: #61d569;
  width:80px;
  height:80px;
  box-sizing: border-box;
  padding-left: 10px;
  text-align: left;
  float: left;
}
.section-news .list .item .date p {
  font-size:32px;
  line-height: 32px;
  margin-top: 15px;
  color:#ffffff;
}
.section-news .list .item .date div {
  font-size:16px;
  line-height: 16px;
  color:#ffffff;
 }

.section-news .list .item .main {
  background:#f4f4f4;
  width:390px;
  height:140px;
  float: right;
  padding-left: 30px;
  box-sizing: border-box;
  padding-top: 25px;
}
.section-news .list .item .main h3 {
  font-size:22px;
  color:#333333;
}
.section-news .list .item .main p {
  font-size:15px;
  line-height: 20px;
  color:#666666;
  padding-right: 86px;
  font-weight: 100;
}


.section-back {
  background: url(../img/scrollback.png) no-repeat center;
  height: 700px;
  background-size: cover;
}

.section-events {
  padding: 89px 0 138px;
}
.section-events .title {
  width: 275px;
  height: 54px;
  background: url(../img/events.png) no-repeat center;
  background-size: cover;
  margin: auto;
}

.event-list {
  overflow: hidden;
  padding: 60px 0;
  width: 1000px;
  margin: auto;
}
.event-list .item {
  display: inline-block;
  width: 330px;
  height: 440px;
  position: relative;
}
.event-list .item .back-pic {
  width: 330px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.event-list .item .content {
  padding: 30px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  text-align: center;
}
.event-list .item .content h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 90px;
}
.event-list .item .content .line {
  width: 74px;
  height: 3px;
  margin: 5px auto;
  background: #fff;
}
.event-list .item .content .time {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 100;
}


.section-vedio {
  background: #f4f4f4;
  padding: 77px 0 88px;
}
.section-vedio .title {
  width: 313px;
  height: 68px;
  background: url(../img/vedio.png) no-repeat center;
  background-size: cover;
  margin: auto;
}
.section-vedio .content {
  padding: 76px 0 60px;
  overflow: hidden;
  width: 1000px;
  margin: auto;
}
.section-vedio .content .left {
  width: 495px;
  height: 600px;
  float: left;
  background: url(../img/vedio1.png) no-repeat center;
  background-size: cover;
}
.section-vedio .content .right {
  width: 495px;
  float: right;
}
.section-vedio .content .right div {
  width: 495px;
  height: 295px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  padding-top: 140px;
  box-sizing: border-box;
}
.section-vedio .content .right .up {
  background: url(../img/vedio2.png) no-repeat center;
  background-size: cover;
}
.section-vedio .content .right .down {
  background: url(../img/vedio3.png) no-repeat center;
  background-size: cover;
}

.section-partners {
  padding: 124px 0 60px;
}
.section-partners .title {
  width: 375px;
  height: 55px;
  background: url(../img/partners.png) no-repeat center;
  background-size: cover;
  margin: auto;
}
.section-partners .list {
  padding-top: 131px;
  width: 1000px;
  margin: auto;
  overflow: hidden;
}
.section-partners .item {
  margin-bottom: 44px;
  text-align: center;
  width: 190px;
  height: 100px;
  margin-right: 44px;
  border:1px solid #c6c6c6;
  float: left;
}
.section-partners .item:nth-child(4n) {
  margin-right: 0;
}
.section-partners .item img {
  margin: auto;
  max-width: 80%;
}


.section-logo {
  padding: 124px 0 60px;
  background: #f8f5f0;
}
.section-logo .title {
  width: 175px;
  height: 66px;
  background: url(../img/logo1.png) no-repeat center;
  background-size: cover;
  margin: auto;
}
.section-logo .list {
  padding-top: 131px;
  width: 1000px;
  margin: auto;
  overflow: hidden;
}

.section-logo .item {
  margin-bottom: 44px;
  text-align: center;
  width: 190px;
  height: 100px;
  margin-right: 44px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.section-logo .item:nth-child(4n) {
  margin-right: 0;
}
.section-logo .item img {
  margin: auto;
  max-width: 80%;
}


.section-contact {
  padding: 124px 0 60px;
}
.section-contact>.title {
  width: 446px;
  height: 59px;
  background: url(../img/contact.png) no-repeat center;
  background-size: cover;
  margin: auto;
}
.section-contact .list {
  padding-top: 131px;
  width: 1000px;
  margin: auto;
  overflow: hidden;
}
.section-contact .list .item {
  background:#efefef;
  border-radius:10px;
  width:300px;
  height:335px;
  float: left;
  margin-right: 50px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 30px;
}
.section-contact .list .item:last-child{
  margin-right: 0;
}

.section-contact .item .icon {
  width: 50px;
  margin: 74px auto 22px;
}
.section-contact .item .title{
  font-size:20px;
  color:#6c6c6c;
}
.section-contact .item .desc {
  font-size: 18px;
  color: #111;
  height: 140px;
  display: inline-flex;
  align-items: center;
  line-height: 2;
}


.footer {
  height: 721px;
  background: url(../img/footer.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.footer .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  background: rgba(0, 0, 0, .34);
  text-align: center;
  font-size: 16px;
  line-height: 70px;
  color: #fff;
}
.footer .form {
  width: 1000px;
  overflow: hidden;
  margin: auto;
  padding-top: 116px;
}
.footer .form .left {
  width: 480px;
  float: left;
}
.footer .form .left input {
  display: block;
  border:1px solid #ffffff;
  box-sizing: border-box;
  height:62px;
  background: none;
  outline: none;
  text-indent: 23px;
  width: 100%;
  margin-bottom: 19px;
  color: #fff;
  font-size: 20px;
}
.footer .form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 20px;
}
.footer .form input::-ms-input-placeholder {
  color: #fff;
  font-size: 20px;
}

.footer .form .right {
  width: 480px;
  float: right;
}
.footer .form .right textarea {
  display: block;
  border:1px solid #ffffff;
  box-sizing: border-box;
  height:224px;
  background: none;
  outline: none;
  padding: 23px;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}
.footer .form textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 20px;
}
.footer .form textarea::-ms-input-placeholder {
  color: #fff;
  font-size: 20px;
}
.footer .button {
  width: 1000px;
  margin: 30px auto;
  text-align: right;
}
.footer .button a {
  display: inline-block;
  background:#ffffff;
  width:240px;
  height:62px;
  line-height: 62px;
  font-size:24px;
  color:#111111;
  text-align:center;
}
