.intro-body {
  padding-top: 100px;
}

.intro-desc {
  width: 830px;
  margin: 0 auto 102px;
  font-size:16px;
  color:#111111;
}
.intro-desc .logo {
  margin: 77px 0;
  display: flex;
  justify-content: center;
}
.intro-desc .logo div:first-child {
  width: 120px;
  margin-right: 100px;
}
.intro-desc .logo div:last-child {
  width: 200px;
}
